<div class="max-w-md my-10 m-auto p-12 lg:p-16 bg-white border-grey-light text-center shadow">
  <h1 class="text-indigo-darker text-2xl mb-6">Voce ainda nao tem nenhuma reuniao!</h1>
  <%= image_tag "calendar.svg", class:"inline-block align-baseline" , alt: "calendar" ,width: 300, class:"mx-auto" %>
  <%= link_to "Agendar uma reuniao", new_meeting_path, class: "btn btn-primary py-3 px-5" %>
</div>
