<div class="mx-auto md:w-2/3 w-full">
  <h1 class= "bg-gray-500 border p-3 hover:bg-gray-50 transition ease duration-300 rounded-lg text-center focus:bg-gray-100 lg:inline-block block lg:ml-2" >Editar Reuniões</h1>

  <%= render "form", meeting: @meeting %>

  <%= link_to "Ver reunião", @meeting, class:"bg-gray-500 border p-3 hover:bg-gray-50 transition ease duration-300 rounded-lg text-center focus:bg-gray-100 lg:inline-block block lg:ml-2" %>
  <%= link_to "Voltar a reuniões", meetings_path, class:"bg-gray-500 border p-3 hover:bg-gray-50 transition ease duration-300 rounded-lg text-center focus:bg-gray-100 lg:inline-block block lg:ml-2" %>
</div>
