<!DOCTYPE html>
<html class="h-full antialiased">
  <%= render "shared/head" %>

    <header class="bg-white">
      <%= render "shared/flash_notice" %>
      <%= render "shared/navbar" %>
    </header>

  <body class="bg-grey-lighter">

    <main class="flex-grow">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
